@font-face {
  font-family: logoFont;
  src: url(../fonts/TESLA.ttf);
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle at 50% 50%, #fff, #d7dbdf);
  font-family: Lato, sans-serif;
}

button {
  font-family: Lato, sans-serif;
}

.poster {
  display: flex;
  justify-content: center;
  background-image: url(../images/motor-wireframe@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 112px;
}

.page-header {
  padding: 24px 18px 0;
  margin-bottom: 17px;
  display: flex;
  justify-content: end;
}

.logo {
  font-family: logoFont;
  font-size: 28px;
  text-decoration: none;
  color: #ffffff;
}

.car-box {
  width: 290px;
  text-align: center;
  padding-bottom: 36px;
}

.car-box_primary {
  background: #ffffff;
  z-index: 2;
}

.car-box_secondary {
  background: #73787d;
  color: #ffffff;
  transform: translateX(-34px) translateY(44px);
}

.car-box__header {
  padding: 22px 0 19px;
  margin-bottom: 25px;
}

.divider {
  width: 28px;
  height: 2px;
  background: #ffffff;
  opacity: 0.3;
}

.car-box__header .divider {
  margin: 14px auto 17px;
}

.car-box__header_primary {
  background: #f8f9f9;
}

.car-box__header_secondary {
  background: #656a72;
}

.header__name {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: normal;
}

.header__img {
  height: 54px;
}

.car-box__desc {
  font-size: 14px;
  line-height: 2.5;
  width: 173px;
  margin: 0 auto;
}

.car-box__main .divider {
  margin: 23px auto 18px;
}

.car-box__price {
  font-size: 24px;
  margin-bottom: 23px;
}

.car-box__price_primary {
  color: #60697d;
}

.car-box__price_secondary {
  color: #ffffff;
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  border-radius: 18px;
  min-width: 126px;
  height: 36px;
  border: none;
}
.btn_primary {
  background: #ea525c;
}

.btn_secondary {
  background: #37406c;
}
